<a href="https://colab.research.google.com/github/Ammarah89/Ammarah89/blob/main/20221BCA0316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from itertools import count

for number in count(start=1, step=2):
	if number > 10:
		break
	print(number)

1
3
5
7
9

In [2]:
import itertools

for i in itertools.count(5, 5):
	if i == 35:
		break
	else:
		print(i, end=" ")

5 10 15 20 25 30

In [3]:
import itertools

count = 0
for i in itertools.cycle('AB'):
	if count > 7:
		break
	else:
		print(i, end=" ")
		count += 1

A B A B A B A B

In [4]:
import itertools

l = ['CSE', 'COM', 'ECM']


iterators = itertools.cycle(l)


for i in range(6):

	print(next(iterators), end=" ")

CSE COM ECM CSE COM ECM

In [5]:
import itertools

print("Printing the numbers repeatedly : ")
print(list(itertools.repeat(25, 4)))

Printing the numbers repeatedly :
[25, 25, 25, 25]